body {
    padding: 10px;
    text-align: center;
    color: white;
    background-image: url(spacex.jpg);
    background-size: 100%;
    background-repeat: space;
    font-family: "Segoe Script";
    text-shadow: 0 0 1px black;
}

.border {
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    padding: 8%;
    width: fit-content;
}

.setting {
    border-style: solid;
    padding: 3%;
    width: fit-content;
    height: 300px;
    float: left;
}

nav {
    border-style: solid;
    border-width: 0 0 1px 0;
    padding: 5px;
}

span {
    padding: 5px;
}

.hidden {
    display: none;
}

img {
    margin: 5px;
    border: solid 1px;
}

input {
    margin: 10px;
}